{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>chat-NCBC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static tailwind_tags %}
    {% tailwind_css %}
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body class="text-lg items-center mx-auto max-w-6xl">
    {% block pageContent %}{% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>